*,*::after, *::before {
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 60.5%;
    box-sizing: border-box;
}
body {
    font-size: 1.6rem;
    background-color: #252422;
    
    
}
li {
    list-style: none;
    padding: 1rem;
}
a {
    text-decoration: none;
    color: white;
    padding: 2rem;
    font-weight: bold;
    
}
button {
    background: #e07a5f;
    border: none;
    border-radius: 2rem;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    background: #252422;
    padding: 6rem;
}
.nav_brand {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
img {
    max-width: 200px;
}
.nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}
.nav_toggler div{
    width: 2.5rem;
    height: 0.2em;
    margin: 0.4rem;
    background: darkgray;
    transition: 0.4s ease-in;
}
.nav_toggler {
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px){
    .nav_toggler {
        display: block;
    }
    .nav_menu {
        position: fixed;
        top: 10vh;
        right: 0;
        width: 50%;
        height: 75vh;
        background: black;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease;
    }

}

/* Nav Active Class */
.nav_active {
    transform: translateX(0);
}
/* Toggler icon animation */
.toggler .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
}
.toggler .line2 {
    opacity: 0;
}
.toggler .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}